.repo {
  margin-bottom: rem(16);
  padding: rem(16);

  &__name {
    font-size: rem(20);
  }

  &__info {
    font-size: rem(14);
    margin-right: rem(16);
  }

  &__icon {
    pointer-events: none;
  }
}
