@import "styles/pxToRem";
@import "styles/repo";

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding-bottom: rem(32);
  padding-top: rem(56);
}

.u-disable-pointer-event {
  pointer-events: none;
}
